<p id="notice"><%= notice %></p>

<p>
  <strong>Станция:</strong>
  <%= @railway_station.title %>
</p>

<% if @railway_station.routes.empty? %>
  <p>Станция не входит ни в одие маршрут.</p>
  <% else %>
  <h4>Маршруты с станцией <%= @railway_station.title %>:</h4>
  <ul>
    <% @railway_station.routes.each do |route| %>
    <li><%= route.name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_railway_station_path(@railway_station) %> |
<%= link_to 'Back', railway_stations_path %>
